<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="description" name="description">
        <meta name="google" content="notranslate" />
        <meta content="MLH Flask Portfolio" name="Pod 3.3.7 Team 4">
      
        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/logo.png')}}">
        <link href= "{{url_for('static', filename='assets/favicon.ico')}}" rel="icon">

        <title>Register</title>  
        <link href="{{url_for('static', filename='register.css')}}" rel="stylesheet">

</head>

<body>
<form action="http://lab.alexcican.com/minimal_signup_form/about.html" method="get">
    <h1>Sign up</h1><br/>
  
    <span class="input"></span>
    <input type="text" name="name" placeholder="Full name" title="Format: Xx[space]Xx (e.g. Alex Cican)" autofocus autocomplete="off" required pattern="^\w+\s\w+$" />
    <span class="input"></span>
    <input type="email" name="email" placeholder="Email address" required />
    <span id="passwordChecker"></span>
    <input type="password" name="password" id="password" placeholder="Password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
  
    <button type="submit" value="Sign Up" title="Submit form" class="icon-arrow-right"><span>Sign up</span></button>
  </form>
  <script type="text/javascript" src = "{{url_for('static', filename='main.js')}}"></script>
</body>
</html>